@{
    ViewData["Title"] = "SignIn";
}

<form asp-controller="Luvas" asp-action="Signin">
  <input type="text" name="name" id="name" required autofocus>
  <input type="number" name="age" id="age" required>
  <input type="text" name="profession" id="profession" required>
</form>
