@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the janela</h1>
    <p>name = !&quot;Lucas&quot; || &quot;Luvas&quot;</p>
    <a href="/Luvas">Sign In</a>
</div>
