<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="default-style" content="defaultstyle" />
    <link title="defaultStyle" rel="stylesheet" href="../public/css/defaultStyle.css" />
    <title>Login</title>
  </head>
  <body>
    <main class="basic-main">
      <form class="basic-form" action="../models/login.php" method="post">
        <h1>Login</h1>
        <label class="field">
          <span>Email</span>
          <input class="email" type="text" name="email" autocomplete="email" required autofocus />
        </label>
        <label class="field">
          <span>Password</span>
          <input class="password" type="password" name="password" autocomplete="current-password" required />
        </label>
        <button type="submit">Login</button>
        <menu>
          <ul>
            <li><a href="signup.html">Sign In</a></li>
          </ul>
        </menu>
      </form>
    </main>
  </body>
</html>
