@{
  ViewData["Title"] = "Correct Questons";

  var grade = 0;

  if (this.Model.q1 == "a") grade++;
  if (this.Model.q2 == "b") grade++;
  if (this.Model.q3 == "d") grade++;
  if (this.Model.q4 == "c") grade++;
  if (this.Model.q5 == "a") grade++;
  if (this.Model.q6 == "b") grade++;
  if (this.Model.q7 == "d") grade++;
  if (this.Model.q8 == "c") grade++;
  if (this.Model.q9 == "a") grade++;
  if (this.Model.q10 == "b") grade++;
}

<form class="d-flex flex-column border border-2 border-secondary rounded-1 mx-auto p-2 w-50">
  <h1 class="mx-auto">@ViewData["Title"]</h1>
  <h1 class="text-center bg-success rounded-1 p-1">@(grade + "/10")</h1>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">1&#41 O que é o HTTP ?</span></legend>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q1" value="a" class="h-100 mt-2">
      <span class=" ms-1">a&#41 É um protocolo de comunicação</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 É um renderizador de páginas web</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 É um depurador de códigos</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 É uma forma de ajudar os programadores a programarem para a web, diminuindo a quantidade
        de dados processados pela memoria da rede de computadores em nuvem</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q1" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 É uma linguagem de programação para lidar com dados</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">2&#41 O que faz o HTTP ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 Transforma páginas html em páginas css</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q2" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 Envia dados através de métodos entre o cliente e o servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 Gera links para sites relacionados ao site criado pelo usuário através de APIs web
        próprias para esse tipo de função</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 Ajuda o usuário a se localizar na página</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q2" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 Termina a função do servidor, exibindo a página para o cliente</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">3&#41 O que é request ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 A requisição da atualização de uma tecnologia de uma página ao suporte</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 Uma forma de mostrar o funcionamento de um site</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 O resultado de uma busca na internet</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q3" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 É a requisição de algo para o servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q3" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 Um protocolo de internet</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">4&#41 Dentre estas opções, qual faz uma request ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 Digitar em um formulário</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 Ler o conteúdo de uma página</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q4" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 Apertar enter na barra de endereço</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 Rolar a página para baixo</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q4" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 Terminar de digitar uma senha e clicar em "mostrar senha"</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">5&#41 O que é o método get ?</span></legend>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q5" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 Um método http para puxar informações do servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 Uma forma de formatar dados do usuário, como senha, cpf, etc</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 Uma forma de organização e gestão empresarial</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 Suporte para o método post</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q5" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 A inclusão de movimentos nos sites, como animações dentre outros</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">6&#41 O que é o método post ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 Um método de administração de negócios e finanças</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q6" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 Uma forma de enviar dados de um formluário ao servidor</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 Um padrão global de linguagens de programação como html, css e javascript</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 A renderização das páginas</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q6" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 O modo de vizualizar posts em redes sociais</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">7&#41 O que é o response em http ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 A resposta do suporte de um site</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 A resposta pré-definida pelo programador para ser executada na máquina local</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 A resposta da execução de uma estratégia de marketing</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q7" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 A resposta do servidor a uma requisição</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q7" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 A resposta do servidor especificamente para uma requisição do tipo post</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">8&#41 O que é o status de um response ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="a" class="h-100 mt-2">
      <span class="ms-1">a&#41 Uma forma de saber se um formulário de preenchimento automático foi preenchido pelo programador ou não</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="b" class="h-100 mt-2">
      <span class="ms-1">b&#41 O status do request enviado pelo computador local</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q8" value="c" class="h-100 mt-2">
      <span class="ms-1">c&#41 O status da resposta do servidor ou um erro</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="d" class="h-100 mt-2">
      <span class="ms-1">d&#41 Um código para alterar a senha de uma conta em um site</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q8" value="e" class="h-100 mt-2">
      <span class="ms-1">e&#41 Uma forma de estabelecer uma conexão entre seu computador outro computador na internet</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">9&#41 Quais status indicam sucesso ?</span></legend>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q9" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 200-299</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 "Sucesso"</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 100-199</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 200-500</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q9" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 0</span>
    </label>
  </fieldset>
  <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1" disabled>
    <legend><span class="ms-1">10&#41 Qual status indica uma página não encontrada ?</span></legend>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="a" class="h-100 mt-2" required>
      <span class="ms-1">a&#41 200</span>
    </label>
    <label class="d-flex m-1 bg-success rounded-1 p-1">
      <input type="radio" name="q10" value="b" class="h-100 mt-2" required>
      <span class="ms-1">b&#41 404</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="c" class="h-100 mt-2" required>
      <span class="ms-1">c&#41 503</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="d" class="h-100 mt-2" required>
      <span class="ms-1">d&#41 "Página não encontrada"</span>
    </label>
    <label class="d-flex m-1">
      <input type="radio" name="q10" value="e" class="h-100 mt-2" required>
      <span class="ms-1">e&#41 299792458</span>
    </label>
  </fieldset>
</form>
