@{
    ViewData["Title"] = "Questons";
}

<form class="d-flex flex-column border border-2 border-secondary rounded-1 mx-auto p-2 w-50">
    <h1 class="mx-auto">@ViewData["Title"]</h1>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">1&#41 O que significa a sigla HTTP ?</span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="1" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 HyperText Troubleshooting Protocol</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="1" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 HyperTherm Tecnology Protocol</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="1" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 Header Transfer-Taking Protocol</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="1" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 HyperText Transfer Protocol</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="1" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 Hospital Team Transfering Pacient</span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">2&#41 O que é o HTTP ?</span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="2" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 É um renderizador de páginas web</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="2" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 É um depurador de códigos</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="2" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 É um protocolo de comunicação</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="2" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 É uma linguagem de programação para lidar com dados</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="2" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 É uma forma de ajudar os programadores a programarem para a web, diminuindo a quantidade de dados trafegados pela rede de computadores em nuvem</span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">3&#41 O que faz o HTTP ?</span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="3" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 Envia dados através de métodos entre o cliente e o servidor</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="3" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 Ajuda o usuário a se localizar na página</span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="3" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="3" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="3" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">4&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="4" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="4" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="4" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="4" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="4" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">5&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="5" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="5" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="5" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="5" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="5" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">6&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="6" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="6" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="6" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="6" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="6" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">7&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="7" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="7" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="7" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="7" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="7" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">8&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="8" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="8" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="8" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="8" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="8" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">9&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="9" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="9" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="9" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="9" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <fieldset class="d-flex flex-column border border-secondary border-2 rounded-1 mb-2 p-1">
        <legend><span class="ms-1">10&#41 </span></legend>
        <label class="d-flex m-1">
            <input type="radio" name="10" value="a" class="h-100 mt-2">
            <span class="ms-1">a&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="10" value="b" class="h-100 mt-2">
            <span class="ms-1">b&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="10" value="c" class="h-100 mt-2">
            <span class="ms-1">c&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="10" value="d" class="h-100 mt-2">
            <span class="ms-1">d&#41 </span>
        </label>
        <label class="d-flex m-1">
            <input type="radio" name="10" value="e" class="h-100 mt-2">
            <span class="ms-1">e&#41 </span>
        </label>
    </fieldset>
    <button type="submit" class=" border border-2 rounded-1 mx-auto my-2 p-1 w-25 btn btn-outline-light">Enviar</button>
</form>
